name: Build CI/CD base image

on:
  # schedule:
  #   - cron: '15 11 * * *'
  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/build-runner.yml"
      - ".github/workflows/runner.Dockerfile"
  pull_request:
    branches: [ "main" ]
    paths:
      - ".github/workflows/build-runner.yml"
      - ".github/workflows/runner.Dockerfile"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: drifting-in-space/cicd-runner-base


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@96383f45573cb7f253c731d3b3ab81c87ef81934 # v5.0.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # v5.0.0
        with:
          file: .github/workflows/runner.Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
